<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | HOME</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <header class="home__header">
        <div class="header__logo">
            <a href="/"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="header__icons">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li><a href="#">SMARTPHONES</a></li>
                <li><a href="#">TABLETS</a></li>
                <li><a href="#">COMPUTADORAS</a></li>
            </ul>
            <ul class="header-nav__list">
                <li><a href="/profile">PERFIL</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTRO</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="main__section">
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-01.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-02.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-03.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-01.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-02.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
            <article class="card">
                <div class="card__img"><img src="/img/img-phone-03.jpg" alt=""></div>
                <h3 class="card__titulo">Nombre del Producto</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div>
                    <a class="card__link" href="#">VER MÁS</a>
                </div>
            </article>
        </div>
        <aside class="home__aside">
            <section class="aside__tutorial">
                <h2 class="aside__titulo">Tutoriales</h2>
                <article class="aside__card">
                    <div><img src="/img/aside-01.jpg" alt=""></div>
                    <h4>Titulo del tutorial de reparación.</h4>
                </article>
                <article class="aside__card">
                    <div><img src="/img/aside-02.jpg" alt=""></div>
                    <h4>Titulo del tutorial de reparación.</h4>
                </article>
                <article class="aside__card">
                    <div><img src="/img/aside-03.jpg" alt=""></div>
                    <h4>Titulo del tutorial de reparación.</h4>
                </article>
                <article class="aside__card">
                    <div><img src="/img/aside-04.jpg" alt=""></div>
                    <h4>Titulo del tutorial de reparación.</h4>
                </article>
            </section>
            <section class="aside__publicidad">
                <h2 class="aside__titulo">Publicidad</h2>
                <div class="aside__container">
                    <a href="#"><img src="/img/ad-01.jpg" alt="Publicidad 1"></a>
                    <a href="#"><img src="/img/ad-02.jpg" alt="Publicidad 2"></a>
                </div>
            </section>
        </aside>
    </main>
    <footer class="home__footer">
        <div class="footer__logo"><img src="/img/logo.png" alt=""></div>
        <p>Copyright © 2000-2023 Craftsy - Todos los derechos reservados</p>
    </footer>
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</body>

</html>