.home__header {
  text-align: center;
  background-color: var(--naranja);
  padding: 15px;

  margin-bottom: 30px;
}
.header-nav {
  display: none;
}

.header__icons {
  display: flex;
  justify-content: space-between;
}

.header__icons a {
  color: white;
}

.header__icons i {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
}

@media (min-width: 769px) {
  .home__header {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-top: 10px;
    margin-left: 20px;
  }

  .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header-nav__list {
    display: flex;
    margin: 10px;
  }

  .header-nav li {
    margin: 0 10px;
    list-style: none;
  }

  .header-nav li a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
  }

  .header__icons {
    display: none;
  }
}
