<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body class="home">
    <%- include('./partials/header.ejs') %>
      <main class="home__main">
        <div class="main__section">
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-01.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-02.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-03.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-01.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-02.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
          <article class="card">
            <div class="card__img"><img src="/images/img-phone-03.jpg" alt=""></div>
            <h3 class="card__titulo">Nombre del Producto</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div>
              <a class="card__link" href="#">VER MÁS</a>
            </div>
          </article>
        </div>
        <aside class="home__aside">
          <section class="aside__tutorial">
            <h2 class="aside__titulo">Tutoriales</h2>
            <article class="aside__card">
              <div><img src="/images/aside-01.jpg" alt=""></div>
              <h4>Titulo del tutorial de reparación.</h4>
            </article>
            <article class="aside__card">
              <div><img src="/images/aside-02.jpg" alt=""></div>
              <h4>Titulo del tutorial de reparación.</h4>
            </article>
            <article class="aside__card">
              <div><img src="/images/aside-03.jpg" alt=""></div>
              <h4>Titulo del tutorial de reparación.</h4>
            </article>
            <article class="aside__card">
              <div><img src="/images/aside-04.jpg" alt=""></div>
              <h4>Titulo del tutorial de reparación.</h4>
            </article>
          </section>
          <section class="aside__publicidad">
            <h2 class="aside__titulo">Publicidad</h2>
            <div class="aside__container">
              <a href="#"><img src="/images/ad-01.jpg" alt="Publicidad 1"></a>
              <a href="#"><img src="/images/ad-02.jpg" alt="Publicidad 2"></a>
            </div>
          </section>
        </aside>
      </main>
      <%- include('./partials/footer.ejs') %>
        <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
  </body>

</html>