<header class="home__header">
    <div class="header__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>
    <div class="header__icons">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
        <a href="#"><i class="fa-solid fa-user"></i></a>
    </div>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li><a href="#">SMARTPHONES</a></li>
            <li><a href="#">TABLETS</a></li>
            <li><a href="#">COMPUTADORAS</a></li>
        </ul>
        <ul class="header-nav__list">
            <li><a href="/users/profile">PERFIL</a></li>
            <li><a href="/users/login">LOGIN</a></li>
            <li><a href="/users/register">REGISTRO</a></li>
        </ul>
    </nav>
</header>